.reset-password-card {
  max-width: 100%;
  height: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0.5%;
  border: 1px solid #174d50;
  border-radius: 8px;
  margin-bottom: 2vh;
  text-align: center;
}
h1.header {
  font-size: 1.6rem;
  color: #174d50;
}
.p {
  font-size: 1.5rem;
  line-height: 2em;
  color: #174d50;
}
.resetButton {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #174d50;
}
.email-input {
  font-size: 1.2rem;
  color: #174d50;
}
