<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Palauta salasanasi</h3>

      <p class="text-center">Syötä sähköpostiosoitteesi pyytääksesi salasanan palauttamista.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Sähköpostiosoite" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Palauta salasana"
          (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>

  </div>
</div>