<section class="bg-light" id="signIn">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Rekisteröidy käyttäjäksi</h2>
        <p class="lead">Varataksesi kenttä sinun tulee rekisteröityä käyttäjäksi.</p>
      </div>

      <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <label for="name">Nimi:
          <input id="name" type="text" name="nimi" ngModel>
        </label>
        <label for="phone">Puhelinnumero:
          <input id="phone" type="tel" name="puhelin" ngModel>
        </label>
        <label for="email">Sähköposti:
          <input id="email" type="email" name="sahkoposti" ngModel>
        </label>
        <label for="password">Salasana:
          <input id="password" type="password" name="salasana" ngModel>
        </label>
        <button type="submit">Lähetä</button>
      </form>

    </div>
  </div>
</section>