<section id="signIn">
  <div class="container">

    <div class="row">
      <div>
        <h2>Rekisteröidy käyttäjäksi</h2>
        <p>Varataksesi kenttä sinun tulee rekisteröityä käyttäjäksi.</p>
      </div>

      <mat-card>
        <form class="register-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
          <mat-form-field>
            <mat-label>
              Nimi:
            </mat-label>
            <input matInput id="name" type="text" name="nimi" required ngModel>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>
              Puhelinnumero:
            </mat-label>
            <input matInput id="phone" type="tel" name="puhelin" required ngModel>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>
              Sähköposti:
            </mat-label>
            <input matInput id="email" type="email" name="sahkoposti" required ngModel>
          </mat-form-field>
    
          <mat-form-field>
            <mat-label>
              Salasana:
            </mat-label>
            <input matInput id="password" type="password" name="salasana" required ngModel>
          </mat-form-field>
   
        <button mat-raised-button type="submit" [disabled]="!form.valid" >Lähetä</button>
        </form>


      </mat-card>

    </div>
  </div>
</section>