<section id="login">
  <div class="container">
    <header class="loginFont">
      <div>
        <h1>Tervetuloa Tennis Booking sivustolle</h1>
        <p> Nyt voit tehdä kenttävarauksen helposti suoraan netissä ilmaiseksi! <br>Rekisteröitymällä käyttäjäksi saat
          käyttöösi varauskalenterin, josta voit nähdä vapaana olevat vuorot ja tehdä varauksen. <br>Kaikki tekemäsi
          varaukset tallentuvat omat varaukseni -näkymään.</p>
      </div>
    </header>

    <mat-divider></mat-divider>

    <div>
      <h2>Varaa kenttä</h2>
      <p>
        Kirjaudu sisään tai rekisteröidy käyttäjäksi varataksesi tennis-kentän käyttöösi.
      </p>
    </div>

    <button mat-raised-button color="primary" type="button" (click)="openDialog()">Kirjaudu sisään</button>


  </div>
</section>