<section id="login" fxLayout="column" fxLayoutAlign="center">
  <mat-card class="welcome-card">
    <div class="container">
      <mat-card-header fxLayoutAlign="center">
        <h1 class="h1">Tervetuloa Tennis Booking sivustolle!</h1>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center">
        <br>
        <p class="p"> Nyt voit varata tenniskentän suoraan netissä ilmaiseksi!</p>
        <p>Rekisteröitymällä käyttäjäksi saat käyttöösi varauskalenterin, josta voit nähdä vapaana olevat vuorot ja
          tehdä varauksen.</p>
        <p>Kaikki tekemäsi varaukset tallentuvat omat varaukseni -näkymään.</p>
      </mat-card-content>
    </div>

  </mat-card>

  <div *ngIf="!auth.user?.id || cache.currentUserID" id="login">
    <mat-card class="login-card">

      <mat-card-header fxLayoutAlign="center">

        <h1 class="h1">Varaa kenttä</h1>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center">
        <p class="p">Kirjaudu sisään tai rekisteröidy käyttäjäksi varataksesi tennis-kentän käyttöösi.</p>
      </mat-card-content>
      <mat-card-content fxLayoutAlign="center">
        <button class="loginButton" mat-raised-button class="loginButtonColor" type="button"
          (click)="openDialog()">Kirjaudu
          sisään</button>
        <br>
      </mat-card-content>

    </mat-card>
  </div>

  <div *ngIf="auth.user?.id || cache.currentUserID" id="login">
    <mat-card class="booking-card">

      <mat-card-header fxLayoutAlign="center">

        <h1 class="h1">Varaa kenttä</h1>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center">
        <p class="p">Varaa tenniskenttä käyttöösi jo tänään!</p>
      </mat-card-content>
      <mat-card-content fxLayoutAlign="center">
        <button class="loginButton" mat-raised-button class="loginButtonColor" type="button"
          (click)="goToBooking()">Varaa nyt</button>
        <br>
      </mat-card-content>

    </mat-card>
  </div>
</section>