i {
  cursor: pointer;
}

.fade {
  color: black;
}
.h1 {
  font-size: 3vh;
  color: #174d50;
}
.h2 {
  padding-top: 0vh;
}
.text-column{
  font-size: 1.5vh;
  display:flex;
  flex-direction: column;
  min-height: 20vh;
}

.text-column >p{
  display: block;
}

.greeting {
  font-size: 1.5vh;
}
.login-card, .welcome-card, .booking-card {
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}


.booking-card > h1 {
  color: white;
}

.loginButton {
  margin-bottom: 7%;
}
.loginButtonColor {
  background-color: #174d50;
  color: white;
  font-size: 1.5vh;
}
