<section id="login">
  <div class="container" fxLayout="column" fxLayoutAlign="center center">
    <header class="loginFont">
      <div>
        <h1>Tervetuloa Tennis Booking sivustolle</h1>
        <p> Nyt voit tehdä kenttävarauksen helposti suoraan netissä ilmaiseksi! <br>Rekisteröitymällä käyttäjäksi saat
          käyttöösi varauskalenterin, josta voit nähdä vapaana olevat vuorot ja tehdä varauksen. <br>Kaikki tekemäsi
          varaukset tallentuvat omat varaukseni -näkymään.</p>
      </div>
    </header>

    <mat-divider></mat-divider>

    <div>
      <h2>Varaa kenttä</h2>
      <p>
        Kirjaudu sisään tai rekisteröidy käyttäjäksi varataksesi tennis-kentän käyttöösi.
      </p>
    </div>
    <button mat-raised-button color="primary" type="button" (click)="openDialog()">Kirjaudu sisään</button><br>

    <!-- googlenappi
      
    <button mat-raised-button color="primary" type="button" (click)="auth.googleLogin()"> Guugoli
    </button><br>
  -->

  </div>
</section>


<!--
<div *ngIf="auth.user$ | async as user; else login">
  {{user | json }}
  <hr>
  <button mat-raised-button color="warn" type="button" (click)="auth.signOut()">
    Sign Out
  </button>
</div>
<ng-template #login>
  <button class="button" (click)="auth.googleSignin()"></button>
</ng-template>
-->