<section id="login">
  <div class="container">
    <h2>Omat varaukseni</h2>

    <thead>
      <th>Nimi</th>
      <th>Päivä</th>
      <th>Aika</th>
    </thead>
    <tbody>


      <tr *ngFor="let booking of mybookings">
        <div *ngIf="booking.payload.doc.data().name === currentUserName && booking.payload.doc.data().date >= currentDate ">
          <td>{{booking.payload.doc.data().name}}</td>
          <td>{{booking.payload.doc.data().date}}</td>
          <td>{{booking.payload.doc.data().time}}</td>
        </div>

      </tr>

    </tbody>
  </div>
</section>