<section id="me" fxLayout="row" fxLayoutAlign="center">
  <div class="container ">
    <mat-card class="mybookings">
      <mat-card-header>
        <mat-card-title class="greeting">Hei {{cache.currentUserName}}!</mat-card-title>
      </mat-card-header>


      <h2 class="h2"> Omat varaukseni</h2>
      <mat-card-content *ngIf="mybookings !== null && mybookings.length > 0" fxLayoutAlign="center">

        <table mat-table [dataSource]="mybookings" class="mat-elevation-z8">
          <!-- <div *ngIf="booking.payload.doc.data().date >= currentDate"> -->
          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Päivä </th>
            <td mat-cell *matCellDef="let booking"> {{booking.payload.doc.data().date}} </td>
          </ng-container>
          <!-- Time Column -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Aika </th>
            <td mat-cell *matCellDef="let booking"> {{booking.payload.doc.data().time}} </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let booking"> <button mat-button color="accent"
                (click)="cancelBooking(booking.payload.doc.id)">peruuta</button> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>

      </mat-card-content>
      <div *ngIf="mybookings === null"> <small fxLayoutAlign="center">ladataan... </small></div>
      <div *ngIf="mybookings !== null && mybookings.length === 0">
        <small fxLayoutAlign="center">
          ei varauksia
        </small>
      </div>
    </mat-card>
  </div>
</section>