table {
  width: 80%;
  min-width: 35%;
  margin-bottom: 50px;
}
i {
  cursor: pointer;
}

.fade {
  color: black;
}

.h2 {
  font-size: 1.5em;
  color: #ffff;
}

.greeting {
  font-size: 1em;
  font-weight: 300;
  color: #ffff;
}

.mybookings {
  max-width: 100%;
  margin-top: 5%;
  padding-bottom: 12vh;
  min-height: 400px;
  background-color: #cb5223;
  border: 1px solid #a73f16;
  border-radius: 8px;
}

.header {
  color: #ffff;
}

.content {
  justify-content: center;
}

@media screen and (max-width: 360px) {
  table {
    width: 100%;
  }

  .greeting {
    font-size: 1em;
  }
}
.tableHeadFont {
  font-size: 1.2rem;
}
.tableItemFont {
  font-size: 1rem;
}
