#admin {
  margin-top: 3vh;
}

p {
  display: inline;
  padding-right: 2vw;
  justify-self: center;
}

table {
  min-width: 35%;
  margin-bottom: 50px;
  width: 67%;
}

.mat-sort{
  margin: auto;
  border-spacing: 30px;
}

.table{
  margin: auto;
}


i {
  cursor: pointer;
}

.fade {
  color: black;
}

.h2 {
  padding-top: 0vh;
}

.greeting {
  font-size: 1.5vh;
}

.pick-date {
  padding-bottom: 2vh;
  padding-top: 3vh;
  width: 60%;
  margin: auto
}
