#admin{
  margin-top: 3vh;
}

table {
  width: 60%;
  max-width: 600px;
  min-width: 35%;
  margin-bottom: 50px;
}

i {
  cursor: pointer;
}

.fade {
  color: black;
}

.h2 {
  padding-top: 0vh;
}

.greeting {
  font-size: 1.5vh;
}
