<section id="admin">
  <div class="container" fxLayout="column">



    <!-- <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let booking"> <button mat-button color="accent"
            (click)="cancelBooking(booking.id)">peruuta</button> </td>
      </ng-container> -->
    <div *ngIf="permissionsError === null" class="loading">
      <p>ladataan...</p>
      <!--spinner tähän??-->
    </div>

    <div *ngIf="permissionsError" class="error">
      <p>Sinulla ei ole oikeuksia tähän näkymään</p>
    </div>

    <div *ngIf="permissionsError === false" id="all-bookings-table" >
      <h2 class="h2"> Kaikki varaukset</h2>
      <table matSort (matSortChange)="sortData($event)">

        <tr>
          <th mat-sort-header="name">Nimi</th>
          <th mat-header="email">Sähköposti</th>
          <th mat-sort-header="date">pvm</th>
          <th mat-sort-header="time">aika</th>
        </tr>

        <tr *ngFor="let booking of sortedData">
          <td>{{booking.name}}</td>
          <td>{{booking.email}}</td>
          <td>{{booking.date}}</td>
          <td>{{booking.time}}</td>
        </tr>
      </table>



    </div>




  </div>
</section>