<aside id="privacy">
  <div class="container">

    <h1>Yksityisyyden suoja</h1>
    <p>Tämä booking-tennis.firebaseapp.com on demo ja se on tarkoitettu vain kokeilutarkoitukseen. Älä
      syötä henkilökohtaisia tietojasi
      sovellukseen turhaan.</p>
    <h2>Tallennetun tiedon suojaus</h2>
    <p>Kirjautumistietoja (sähköpostiosoite, nimi, käyttäjätunniste) kerätään ainoastaan kentän varauksien
      todentamiseen. Ainoastaan palvelun
      ylläpitäjällä on luku-, poisto- ja muokkausoikeus näihin tietoihin. Et siis pysty itse poistamaan tietojasi niiden
      lisäämisen jälkeen. Salasanasi käsitellään Googlen
      Firebase-palvelun authentikaatiopalvelun kautta.
      Edes ylläpitäjällä ei ole oikeutta lukea salasanoja.</p>
    <p>
      Mikäli olet syöttänyt tietosi vahingossa, etkä halua niiden säilyvän tietokannassa demojakson loppuun, ota
      yhteyttä ylläpitäjään sähköpostitse aa4298@student.jamk.fi. Tietosi poistetaan demojakson loputtua
      automaattisesti.</p>


    <p> Mitään palveluun syötettyjä tietoja ei luovuteta kolmansille osapuolille eikä tietoja käytetä mihinkään
      kaupalliseen tarkoitukseen, kuten esimerkiksi suoramarkkinointiin. </p>

    <p>Sovellus säilyttää nimeäsi ja käyttäjätunnistettasi kirjautumisen jälkeen selaimesi välimuistissa kunnes
      kirjaudut sovelluksesta ulos tai poistat tiedot välimuistista. <a [routerLink]="['/policy']">Lue lisää
        välimuistista ja mahdollisista evästeistä </a>.
    </p>

    <h2>Demojakson päätyttyä</h2>
    <p>Kaikki sovelluksen tallentamat tiedot poistetaan viimeistään 30.06.2021. Mikäli et ole kirjautunut
      sovelluksesta
      ulos, selaimesi välimuistissa saattaa vielä olla tieto nimestäsi ja käyttäjätunnisteestasi sivustolle.</p>

  </div>


</aside>