@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html {
  background-color: #cce6dd2c;
  scroll-behavior: smooth;
}
body {
  height: 100%;
}
body {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 0.5%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3 {
  padding-top: 5vh;
  padding-bottom: 1vh;
  text-align: center;
}

p {
  padding-bottom: 2vh;
}

.container {
  width: 90%;
  height: 90%;
  font-size: 1.5em;
}

.background {
  height: 100%;
  width: 100%;
}

.button-group > button {
  padding: 0.2em 1em;
  margin-right: 2em;
}

.snackbar {
  color: aliceblue;
}

.snackbarAction {
  color: blue;
}

small {
  color: darkgray;
  align-self: center;
}

i {
  cursor: pointer;
}

.fade {
  color: black;
}

h1.header {
  font-size: 1.6rem;
  color: #174d50;
}

.greeting {
  font-size: 1.5rem;
}

.h2 {
  padding-top: 0vh;
}
.p {
  font-size: 1.5rem;
  line-height: 2em;
}

.loginButton {
  margin-bottom: 7%;
}

@media screen and (max-width: 400px ) {
  .p {
    font-size: 1em;
  }

}