@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html {
  background-color: #cce6dd2c;
}
body {
  height: 100%;
}
body {
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3 {
  padding-top: 5vh;
  padding-bottom: 1vh;
  text-align: center;
}

p {
  padding-bottom: 2vh;
}

.container {
  width: 90%;
  height: 90%;
  font-size: 1.5em;
}

.background {
  height: 100%;
  width: 100%;
}

.button-group > button {
  padding: 0.2em 1em;
  margin-right: 2em;
}

.snackbar {
  color: aliceblue;
}

.snackbarAction {
  color: blue;
}
