<section id="login">
  <div class="container">
    <app-me></app-me>

    <!--Korjaa tyhjä väli css:llä-->
    <H2>Tee uusi varaus</H2>
    <H3>Uuden varauksen tekeminen on helppoa:</H3>
    <p>1. Klikkaa kalenteria aloittaaksesi varauksen tekeminen.<br> 2. Valitse itsellesi sopiva päivä <br> 3. Varaa
      sopiva aika vapaana olevista ajoista.<br><strong> HUOM! Voit varata maksimissaan yhden (1) vuoron/päivä.
      </strong><br> 4. Vahvista vielä varauksesi klikkaamalla <strong>vahvista
        varaus</strong>
      -painikketta.<br><br><br>Tekemäsi varaukset siirtyy <strong>Omat varaukseni</strong> -näkymään.


    </p>
    <!--Varauskalenterissa käytetty Angular materialin datepickeriä-->
    <mat-form-field appearance="fill">
      <mat-label>Valitse päivämäärä</mat-label>
      <input matInput [matDatepicker]="picker" [min]="minDate" (dateChange)="dateChanged($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <div *ngIf="dayChosen">
      <h3>Valitse haluamasi kellonaika ja vahvista varauksesi "Vahvista varaus painikkeesta"</h3>

      <ul>
        <li *ngFor="let slot of slots">
          {{slot}}
          <button (click)="pickTime(slot)" [disabled]="slotUnavailable(slot)">Varaa</button>
        </li>
      </ul>

      <!-- <ul>
        <li>
          <p> 08:00 - 10:00 <button (click)="pickTime(this.slot1)" [disabled]="slotUnavailable()"> Varaa <div *ngIf="timeChosen === slot1">
              </div>
            </button> </p>
        </li>
        <li>
          <p> 10:00 - 12:00 <button (click)="pickTime(this.slot2)">Varaa<div *ngIf="timeChosen === slot2">

              </div></button> </p>
        </li>
        <li>
          <p> 12:00 - 14:00 <button (click)="pickTime(this.slot3)">Varaa<div *ngIf="timeChosen === slot3">
              </div></button> </p>
        </li>
        <li>
          <p> 14:00 - 16:00 <button (click)="pickTime(this.slot4)">Varaa<div *ngIf="timeChosen === slot4">
              </div></button> </p>
        </li>
        <li>
          <p> 16:00 - 18:00 <button (click)="pickTime(this.slot5)">Varaa<div *ngIf="timeChosen === slot5">
              </div></button> </p>
        </li>
        <li>
          <p> 18:00 - 20:00 <button (click)="pickTime(this.slot6)">Varaa<div *ngIf="timeChosen === slot6">
              </div></button> </p>
        </li>
      </ul> -->
      <div *ngIf="timeChosen">
        <h3>Varauksesi:</h3>
        <p>{{dateChosen.toLocaleDateString()}} klo {{timeChosen}}</p>
        <button (click)="confirmBooking()">Vahvista varaus </button>
      </div>
    </div>


  </div>
</section>