<app-me></app-me>

<section id="booking" fxLayout="row" fxLayoutAlign="center">

  <div class="container ">
    <mat-card class="booking">

      <mat-card-header fxLayoutAlign="center">
        <H2 class="h2">Tee uusi varaus</H2>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center">
        <!--semantiikka: tämä on lista ei p-->
        <p>1. Klikkaa kalenteria aloittaaksesi varauksen tekeminen.<br><br> 2. Valitse itsellesi sopiva päivä.
          <br><br>
          3. Varaa
          sopiva aika vapaana olevista ajoista.<br><strong> HUOM! Voit varata maksimissaan yhden (1) vuoron/päivä.
          </strong><br><br> 4. Vahvista vielä varauksesi klikkaamalla <strong>vahvista
            varaus</strong>
          -painikketta.<br><br><br>Tekemäsi varaukset siirtyvät <strong>Omat varaukseni</strong> -näkymään.
        </p>
      </mat-card-content>
      <mat-card-content fxLayoutAlign="center">
        <!--Varauskalenterissa käytetty Angular materialin datepickeriä-->
        <mat-form-field appearance="fill" class="datepicker">
          <mat-label>Avaa varauskalenteri</mat-label>
          <input matInput [matDatepicker]="picker" [min]="minDate" (dateChange)="dateChanged($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </mat-card-content>
      <br>

      <div *ngIf="dayChosen && !maxBookingLimit" id="choose-time">
        <mat-card-content fxLayoutAlign="center">
          <h3>Valitse haluamasi kellonaika ja vahvista varauksesi "Vahvista varaus painikkeesta"</h3>
        </mat-card-content>
        <mat-card-content>
          <mat-selection-list [multiple]="false">
            <mat-button-toggle-group fxLayout="column" fxLayoutAlign="space-evenly center">
              <mat-button-toggle class="timeButtons" mat-stroked-button *ngFor="let slot of slots" [value]="slot"
                (click)="pickTime(slot)" [disabled]="slotUnavailable(slot)">
                {{slot}}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </mat-selection-list>
        </mat-card-content>
        <div *ngIf="timeChosen">
          <mat-card-content fxLayoutAlign="center">
            <h3>Varauksesi: {{dateChosen.toLocaleDateString()}} klo <strong> {{timeChosen}} </strong></h3>
          </mat-card-content>
          <mat-card-content fxLayoutAlign="center">
            <button mat-raised-button class="confirm" (click)="confirmBooking()"> Vahvista varaus
            </button>
          </mat-card-content>
        </div>
      </div>
      <mat-card-content fxLayout="row" fxLayoutAlign="center">
        <div *ngIf="maxBookingLimit === true" id="max-limit-reached">
          <p>Olet tehnyt jo varauksen tälle päivälle. Jos haluat vaihtaa varauksesi aikaa, sinun tulee ensin perua
            tämänhetkinen
            varauksesi <b>omat varaukseni</b>-osiossa</p>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</section>