.datepicker {
  width: 60%;

  min-width: 35%;
  margin-bottom: 50px;
}

.confirm {
  margin: 0.3rem;
  width: 60%;
  font-size: 1.4rem;
}

.confirm:hover {
  background-color: #32c265;
  color: #ffffff;
  font-weight: normal;
}
i {
  cursor: pointer;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #0d2e30;
}

.fade {
  color: black;
}

.h2 {
  font-size: 2.5vh;
  color: #174d50;
}

.greeting {
  font-size: 1.5vh;
}
.booking {
  max-width: 100%;
  margin-top: 0.5%;
  margin-bottom: 10%;
  border: 1px solid #174d50;
  border-radius: 8px;
}
.timeButtons {
  margin: 0.3rem;
  width: 60%;
  font-size: 1.4rem;
  background-color: #cb5223;
  color: #ffffff;
}
.confirmButton {
  margin: 0.3rem;
  width: 60%;
  font-size: 1.4rem;
}

.list {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
}

.bold {
  font-weight: 600;
}
