.datepicker {
  width: 60%;

  min-width: 35%;
  margin-bottom: 50px;
}

.confirm:hover {
  background-color: #32c265;
  color: #ffffff;
  font-weight: normal;
}
i {
  cursor: pointer;
}
.p {
  font-size: 1rem;
  color: white;
}
.fade {
  color: black;
}

.h2 {
  font-size: 2.5vh;
  color: #174d50;
}

.greeting {
  font-size: 1.5vh;
}
.booking {
  max-width: 100%;
  margin-top: 0.5%;
  background-color: rgb(248, 164, 9);
  margin-bottom: 10%;
}
