<div class="container">
  <h1 mat-dialog-title>Kirjaudu sisään</h1>
  <!-- <div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div> -->
  <div mat-dialog-actions>

    <form id="login-form" #loginForm="ngForm" (ngSubmit)="logIn(loginForm)">
      <mat-form-field>
        <mat-label>
          Sähköposti:
        </mat-label>
        <input matInput id="email" type="email" name="sahkoposti" required ngModel>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Salasana:
        </mat-label>
        <input matInput id="password" type="password" name="salasana" required ngModel>
      </mat-form-field>

      <!--Tämä näkyy jos virheellinen käyttäjätunnus tai salasana -->
      <section *ngIf="auth.errorMessage">
        <em class="loginError">Virheellinen käyttäjätunnus tai salasana </em>
        <!---<button class="closeAlert" button
           mat-mini-fab (click)="closeAlert()">x</button> -->
      </section>

      <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Lähetä</button>

      <div class="register">
        <p>Etkö ole vielä rekisteröitynyt?</p>
        <button mat-button type="button" (click)="signUp()">Rekisteröidy nyt</button>
      </div>

      <p> tai kirjaudu sisään Google-tunnuksilla</p>

      <!-- kutsuu googleAuth() AuthServicestä-->

      <div class='g-sign-in-button' (click)="LogInWithGoogle()">
        <div class=content-wrapper>
          <div class='logo-wrapper'>
            <img src='https://developers.google.com/identity/images/g-logo.png'>
          </div>
          <span class='text-container'>
            <span>Sign in with Google</span>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>