.container {
  width: 90%;
  margin: auto;
}

#login-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
  width: 500px;
}

.register {
  display: flex;
  align-items: center;
}

.register > p {
  padding: 0px;
  margin: 0px;
}
.loginError {
  color: red;
  margin-right: 5px;
}
.closeAlert {
  margin-bottom: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.g-sign-in-button {
  margin: 10px;
  display: inline-block;
  width: 240px;
  height: 50px;
  background-color: #4285f4;
  color: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  border-radius: 5px;
  padding: 2px;
  margin: auto;
}

.g-sign-in-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}
.g-sign-in-button:active {
  background-color: #3367d6;
  transition: background-color 0.2s;
}

.g-sign-in-button .content-wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
}

.g-sign-in-button img {
  width: 18px;
  height: 18px;
}

.g-sign-in-button .logo-wrapper {
  padding: 15px;
  background: #fff;
  width: 48px;
  height: 100%;
  border-radius: 2px;
  display: inline-block;
}

.g-sign-in-button .text-container {
  font-family: Roboto, arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.21px;
  font-size: 16px;
  line-height: 48px;
  vertical-align: top;
  border: none;
  display: inline-block;
  text-align: center;
  width: 180px;
}
.reset {
  margin-left: 3%;
  font-size: 1rem;
  width: 222px;
}
.registerButton {
  margin-left: 3%;
  font-size: 1rem;
}
button {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

@media screen and (max-width: 400px) {
  .pop-up {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  #login-form {
    width: 100%;
  }

  input {
    width: 90%;
  }
  .g-sign-in-button {
    border-radius: 5px;
    padding: 1%;
    margin: 0px;
  }

  .g-sign-in-button .text-container {
    margin: auto;
  }

  .forgotPassword {
    font-size: 0.8em;
  }
  .registerButton {
    max-width: 100px;
    font-size: 0.6em;
    padding: 0px;
  }

  p {
    font-size: 0.8em;
    margin-bottom: 1vh;
    margin-top: 2vh;
    padding: 0px;
  }
  button {
    min-width: 105px;
  }

  .reset {
    margin: 0px;
    width: 100%;
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
}
