#login-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
  width: 500px;
}

.register {
  display: flex;
  align-items: center;
}

.register > p {
  padding: 0px;
  margin: 0px;
}
.loginError {
  color: red;
  margin-right: 5px;
}
.closeAlert {
  margin-bottom: 10px;
}
